<!-- <div class="background-image">
    <div class="login-fixed">
      <a class="login-button" (click)="isLoginVisible = true">會員登入</a>
    </div>

    <nav class="navbar">
      <ul>
        <li><a routerLink="/" routerLinkActive="active">首頁</a></li>
        <li><a routerLink="/about-me" routerLinkActive="active">關於我</a></li>
        <li><a routerLink="/chart" routerLinkActive="active">即時報價</a></li>
        <li><a routerLink="/strategy-main" routerLinkActive="active">策略回測</a></li>
        <li><a routerLink="/other" routerLinkActive="active">其他</a></li>
      </ul>
    </nav>

  <main class="content">
    <router-outlet></router-outlet>
  </main>

  <footer>
    <div class="footer">
      <p>© 2025 CREATED BY Leo. 版權所有.</p>
    </div>
  </footer>
</div>

<div *ngIf="isLoginVisible" class="modal-backdrop" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <h3 class="modal-title">會員登入</h3>

      <div class="form-group">
        <label for="typeEmailX-2">Email</label>
        <input type="email" id="typeEmailX-2" class="form-input" [(ngModel)]="this.email"/>
      </div>

      <div class="form-group">
        <label for="typePasswordX-2">Password</label>
        <input type="password" id="typePasswordX-2" class="form-input" [(ngModel)]="this.password"/>
      </div>

      <button type="submit" class="btn btn-primary" (click)="login()">登入</button>
      <hr class="divider">
      <button class="btn btn-secondary" (click)="isLoginVisible = false">關閉</button>
    </div>
  </div>
</div> -->


<!-- app.component.html -->
<div class="main-container">
  <header>
    <nav>
      <ul>
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">首頁</a></li>
        <li><a routerLink="/about-me" routerLinkActive="active">關於我</a></li>
        <li><a routerLink="/chart" routerLinkActive="active">即時報價</a></li>
        <li><a routerLink="/strategy-main" routerLinkActive="active">策略回測</a></li>
        <li><a routerLink="/other" routerLinkActive="active">其他</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

  <footer>
    <p>© 2025 Your Company. All rights reserved.</p>
  </footer>
</div>

